body{
  margin:0;
}
  a {
    color:hotpink;
    text-decoration: none;
  }

  h1 {
    font-size:60px;
    text-align: center;
    border-bottom:1px solid gray;
    margin:0;
    padding:20px;
    color:hotpink;
  }
  #grid ul{
    border-right: 1px solid gray;
    width:200px;
    margin:0;
    padding:20px;
    padding-left: 40px;
    color:hotpink;
  }
  #grid{
    display: grid;
    grid-template-columns: 300px 1fr;
    color:pink;
  }
  #grid #article{
    padding:25px;
    color:hotpink;
  }
  @media(max-width:500px){
    #grid{
      display: block;
      color:hotpink;
    }
    #grid ul{
      border-right: none;
      color:hotpink;
    }
    h2 {
      font-size:40px;
      text-align: center;
      border-bottom:none;
      color:hotpink;
    }
  }
